@import 'mixin';
.current_section{
  position: relative;
  height: 100%;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  .inner{
    width: 90%;
    color: #fff;
    p.address{
      margin: 0 auto;
      margin-bottom: 20px;
      font-size: 1.3em;
      text-align: center;
      width: 70%;
    }//address

    .current_info{
      position: relative;
      background-color: rgba($color: #000000, $alpha: 0.3);
      border-radius: 50%;
      overflow: hidden;
      &::before{
        content: "";
        display: block;
        padding-top: 100%;
      }
     .circle_wrap{
       @include pos_center;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       width: 85%;
       height: 85%;
       border-radius: 50%;
       padding: 20px;
       box-sizing: border-box;
       text-align: center;    
       .sun_time{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0; left: 0;
        .sun_circle{
          position: relative;
          width: 100%;
          height: 50%;
          overflow: hidden;
          &::before{
            content: "";
            box-sizing: border-box;
            width: 100%;
            height: 200%;
            display: block;
            border-radius: 50%;
            border: 2px solid yellow;
          }
        }//sun_circle
        time{
          position: absolute;
          top:52%;
          transform: translateX(-50%);
          font-size: 0.8em;
          i{
            display: block;
            font-size: 1.3em;
            margin-bottom: 3px;
            color: yellow;
          }//i
          &.sunrise{
            left: 0;
          }//sunrise
          &.sunset{
            left: 100%;
          }
        }//time
        div.sun{
          position: absolute;
          top:50%;
          left: 0;
          width: 50%;
          height: 0;
          transform-origin: right center;
          i{
            position: absolute;
            top:0; left: 0;
            color: rgb(243, 242, 152);
            animation: sun_scale 1s infinite alternate linear;
            text-shadow: 0 0 2px rgba($color: #FFF, $alpha: 0.5);
            @keyframes sun_scale {
              0%{transform: translate(-50%, -50%) scale(1.2);}
              100%{transform: translate(-50%, -50%) scale(1.4);}
            }
          }//i
        }//div.sun
       }//sun_time
       .temp_min_max{
        margin: 10px;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        span{
          margin: 0 5px;
        }
        sup{
          vertical-align: bottom;
          margin-left: 3px;
        }//sup
       }//temp_min_max

       .temp{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        font-size: 2.7em;
        img{
          width: 30%;
          border-radius: 50%;
          margin-right: 10px;
         }//icon
        span{
          b{
            font-weight: 500;
          }//b
          sup{
            font-size: 0.4em;
          }//sup
        }//span
       }//temp
       .desc{
        font-size: 1.2em;
       }//desc
       .rain_snow{
        margin: 8px 0;
        padding: 5px 10px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        >b{
          margin: 0 10px;
          i{margin-right: 5px;}
          small{font-size: 0.7em;}
        }//b
       }//rain_snow
       .wind{
        display: flex;
        align-items: center;
         >b{
          margin-right: 10px;
          &.wind_deg{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            filter: drop-shadow( 1px 1px 2px rgba(0,0,0,0.3));
            background-color: #4C86B4;            
          }
          &.wind_speed{
            i{margin-right: 5px;}
            small{font-size: 0.7em;}
          }
         }
       }//wind
     }//circle_wrap
    }//current_info
    .time{
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      color: #fff;
      text-shadow: 0 0 5px #4C86B4;
      time{
        display: block;
        font-weight: 500;
        &.current_time{
          font-size: 2.2em;
          small{font-size: 0.5em;}
        }
      }//time
    }//p.time
  }//inner
  .more{
    position: absolute;
    left: 50%;
    top:100%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #fff;
    .minus{
      display: none;
    }
    &.active{
      .plus{
        display: none;
      }
      .minus{
        display: block;
      }
    }//active
    &::before, &::after{
      content: "";
      display: block;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      width: 40px;
      border-bottom: 3px solid #fff;
    }
    &::before{
      left: 100%;
    }
    &::after{
      right: 100%;
    }
  }//more
}//current_section